:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --red-color: rgb(237, 30, 30);
  --red-color-hover: rgb(217, 40, 40);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100dvh;
  padding: 2rem;
  background-color: var(--white-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  cursor: pointer;
}

container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 8rem;
}

h3 {
  font-weight: 600;
}

.btn {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: .75rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--red-color-hover);
}
